{% extends 'base.html' %}
{% block title %}檢視購物車{% endblock %}
{% block content %}
<div class="container" style='padding: 5em'>
    {% for message in messages %}
        <div class='alert alert-{{message.tags}}'>{{message}}</div>
    {% endfor %}
    <div class="row">
        <div class="col-md-12">
            <div style='padding:50px; text-align: center;'>
                <h2 style='font-weight: bold;'>我的訂單</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div>
                {% for order in orders %}
                {% if forloop.first %}
                <table class='table' style='background-color: whitesmoke;'>
                    <thead class='thead-dark'>
                        <tr>
                            <th scope="col" width=200 style='text-align: center;'>訂單編號</td>
                            <th scope="col" width=100 style='text-align: center;'>姓名</td>
                            <th scope="col" width=100 style='text-align: center;'>地址</td>
                            <th scope="col" width=100 style='text-align: center;'>訂購時間</td>
                            <th scope="col" width=100 style='text-align: center;'>是否付款</td>
                        </tr>
                    </thead>
                {% endif %}
                    <tbody>
                        <tr>
                            <td style='text-align: center;'>{{order.id}}</td>
                            <td style='text-align: center;'>{{order.full_name}}</td>
                            <td style='text-align: center;'>{{order.address}}</td>
                            <td style='text-align: center;'>{{order.created_at}}</td>
                            <td style='text-align: center;'>{{order.paid | yesno:"是,否"}}</td>
                        </tr>
                    </tbody>
                {% if forloop.last %}
                </table>
                {% endif %}
                {% empty %}
                    <em>沒有處理中的訂單</em>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}