{% extends 'base.html' %}
{% block title %}檢視購物車{% endblock %}
{% block content %}
<div class="container" style='padding-top:3em'>
    {% for message in messages %}
        <div class='alert alert-{{message.tags}}'>{{message}}</div>
    {% endfor %}
    <div class="row">
        <div class="col-md-12">
            <div style='padding:50px; text-align: center;'>
                <h2 style='font-weight: bold;'>我的購物車</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-info">
                <div>
                    {% for prod in request.session.cart.values %}
                    {% if forloop.first %}
                    <table class='table' style='background-color: whitesmoke;'>
                        <thead class='thead-dark'>
                            <tr>
                                <th scope="col" width=200 style='text-align: center;'>產品名稱</th>
                                <th scope="col" width=100 style='text-align: center;'>單價</th>
                                <th scope="col" width=100 style='text-align: center;'>數量</th>
                                <th scope="col" width=100 style='text-align: center;'>小計</th>
                            </tr>
                        </thead>
                        
                    {% endif %}
                    <tbody>
                        <tr>
                            <td style='text-align: center;'>{{prod.name}}</td>
                            <td style='text-align: center;'>{{prod.price|floatformat}}</td>
                            <td style='text-align: center;'>{{prod.quantity}}</td>
                            <td style='text-align: center;'>{% widthratio prod.price 1 prod.quantity %}</td>
                        </tr>
                    </tbody>
                    {% if forloop.last %}
                    </table>
                    <div style='padding:12px 12px 12px 0;'>
                        <h3 style='font-weight: bold;'>總計: {{total_price|floatformat}} 元</h3>
                    </div>
                    {% endif %}
                    {% empty %}
                    <div style='padding:12px 12px 12px 0; text-align: center;'>
                        <h3 style='font-weight: bold;'>目前還沒有任何購物商品，快去商店逛逛吧!  <a href="/" style='font-weight: bold; color:lightblue'>點我前往</a></h3>
                    </div>
                    {% endfor %}
                </div>
            </div>
                <div style='padding:12px 12px 12px 0'>
                    <form action="." method='POST'>
                        {% csrf_token %}
                        <table>
                            {{form.as_table}}
                        </table>
                        <div style='padding:12px 12px 12px 0'>
                            <button class='btn btn-danger' type="submit">下訂單</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}