{% extends 'base.html' %}
{% block title %}Product Detail{% endblock %}
{% block content %}
<div class='container' style='padding-top:3em'>
    {% for message in messages %}
        <div class='alert alert-{{message.tags}}'>{{message}}</div>
    {% endfor %}
    <div class="row">
        <div class="col-md-12">
            <div style='padding:50px; text-align: center;'>
                <h2 style='font-weight: bold;'>{{product.name | default:"產品編號錯誤"}}</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8" style='padding:0 50px 50px 100px;'>
            <img src="{{product.image.url}}" >
        </div>
        <div class="col-sm-4" >
            <p><h3 style='color: black; font-weight: bold;'>售價: {{product.price | floatformat}}元</h3></p>
            <p><h3 style='color:black; font-weight: bold;'>庫存: {{product.stock}}</h3></p>
            <hr style='border-width: 3px;'>
            <p>{{product.description | linebreaks }}</p>
        </div>
    </div>
</div>
{% endblock %}