{% extends 'base.html' %}
{% block title %}使用者資料{% endblock %}
{% block content %}
<div class="container" style='padding-top:3em'>
    <div class="row">
        <div class="col-sm-12">
            <div style='padding:50px; text-align: center;'>
                <h2 style='font-weight: bold;'>個人資料</h2>
            </div>
        </div>
        
    </div>
    <div class="row">
        <div class="card col-sm-6" style="margin:auto; margin-bottom: 22px;">
            <div class="card-header" style='text-align: center; font-weight: bold; font-size: 1.5em;'>
                {{ userinfo.user.username | upper | default:"此帳號以第三方驗證登入" }}
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item" style='text-align: center; font-weight: bold;'>{{ userinfo.user.email | default:"無" }}</li>
              <li class="list-group-item" style='text-align: center; font-weight: bold;'>{{ userinfo.male | yesno:"男生, 女生" }}</li>
            </ul>
          </div>
    </div>
</div>
{% endblock %}